.Influential_header_logo{
    margin: 2rem 0;
    font-family: 'Festive', cursive;
}
.Influential_header_button{
    margin-bottom: 2rem;
}

.Influential_footer_button{
    margin-top :2rem;
}
.Influential_footer_logo{
    margin-top:2rem;
    font-family: 'Festive', cursive;
}

.mx-500{
    max-width: 500px;
    padding:1rem 1.5rem;

}
.profile_image{
    height: 12rem ;
    width: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}
.NNS_B{
    font-family: "NanumSquareB",cursive;
}