.Influential_header_logo{
    margin: 2rem 0;
    font-family: 'Festive', cursive;
}
.Influential_header_button{
    margin-bottom: 2rem;
}

.Influential_footer_button{
    margin-top :2rem;
}
.Influential_footer_logo{
    margin-top:2rem;
    font-family: 'Festive', cursive;
}