<div style = "text-align: center;">
    <div class = "Influential_header_logo">
       <a href="{% url 'articleapp:list' %}">
        <h1>Influential</h1>
           </a>
    </div>
    <div class = "Influential_header_button">
        <span class="mx-2">
            <a href="{% url 'articleapp:list' %}">
                Articles
            </a>
        </span>
        <span class="mx-2">
            <a href="{% url 'projectapp:list' %}">Project</a>
        </span>
        {% if user.is_authenticated %}
            <span class="mx-2">
                <a href="{% url 'subscribeapp:list' %}">Subscription</a>
            </span>
        {% endif %}

       {% if not user.is_authenticated %} <!-- user 는 장고 기본 객체 이다 어디서든 불러올수 있음-->
            <!--장고의 분기문-->
            <span class="mx-2">
                <a href = "{% url 'accountsapp:login' %}" >Login</a>
            </span>
            <span class="mx-2">
                <a href = "{% url 'accountsapp:create' %}">Sign Up</a>
            </span>
            {% else %}
            <span class="mx-2">
                <a href = "{% url 'accountsapp:logout' %}">
                Logout
            </a>
            </span>
           <span class="mx-2">
                <a href = "{% url 'accountsapp:detail' pk=user.pk %}">
                MyPage
            </a>
            </span>
            {% endif %}
    </div>
</div>
